/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* utilities */
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* style for header */
#heading{
    font-weight: 700;
    font-size: 24px;
    margin-left: 120px;
    margin-top: 87px;
    margin-bottom: 140px;
}

/* style for starting section */
.start-journey{
    display: flex;
    margin-left: 120px;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
}

#start-heading{
    font-weight: 700;
    font-size: 52px;
    margin: 0 0 16px;
}

.link-button{
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    border-radius: 41px;
    text-align: center;
}

.link-button a{
    text-decoration: none;
    color: white;
    line-height: 3;
}

.fa-arrow-right{
    color: white;
    padding-left: 8px;
}

.start-image{
    text-align: center;
}

.start-image img{
    width: 440px;
    height: 414px;
}

.start-journey:hover .link-button{
    transform: scale(1.3);
    transition: transform 3s ease-in-out;
}

/* style for collections */
.popular-collection{
    width: 1047px;
    height: fit-content;
    margin: auto;
    margin-bottom: 0 auto 100px;
}

#popular-heading{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.item{
    padding: 5px;
    border: 2px solid rgb(250, 238, 238);
    border-radius: 10px;
}

.item img{
    width: 300px;
    height: 256px;
}

.item p{
    margin-bottom: 0;
    margin-top: 0;
}

.fa-star{
    color: gold;
}

#rightside-button{
    display: flex;
    justify-content: right;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* style for footer */
footer{
    background: #0A0826;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.fab{
    font-size: 32px;
    margin-right: 16px;
    color: white;
}

/* media query for mobile devices */
@media only screen and (max-width: 767px) {
    #heading{
        margin: 35px 0 22px;
        text-align: center;
    }

    .start-journey{
        width: 100%;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .half-width{
        width: 100%;
    }

    .start-description{
        text-align: center;
    }

    #start-heading{
        font-size: 28px;
    }

    .start-description>.link-button{
        margin: auto;
    }

    .start-image img{
        width: 257px;
        height: 257px;
    }

    .popular-collection{
        width: 100%;
    }

    .items{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .item{
        margin-top: 50px;
    }

    .item img{
        width: 100%;
        height: 256px;
    }

    #rightside-button{
        margin: 32px 30px 50px 0;
    }

}

/* media query for tablet devices */
@media only screen and (min-width:768px) and (max-width: 1023px) {
    #heading{
        margin: 35px 0 22px;
        text-align: center;
    }

    .start-journey{
        width: 100%;
        flex-direction: column-reverse;
        margin: 0;
    }

    .half-width{
        width: 100%;
    }

    .start-description{
        text-align: center;
    }

    #start-heading{
        font-size: 28px;
    }

    .start-description>.link-button{
        margin: auto;
    }

    .start-image img{
        width: 257px;
        height: 257px;
    }

    .popular-collection{
        width: 100%;
    }

    .items{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .item{
        margin-top: 50px;
    }

    .item img{
        width: 100%;
        height: 256px;
    }

    #rightside-button{
        margin: 32px 30px 50px 0;
    }

}